<h2>Logs da Aplicação</h2>

<label for="campoMensagem">Mensagem</label>
<input id="campoMensagem" type="text" [(ngModel)]="inputMensagem">
<input type="button" value="Buscar por Mensagem" (click)="buscarPorMensagem()">
<br>
<label for="campoDataInicial">Data Inicial</label>
<input type="datetime-local" name="campoDataInicial" id="campoDataInicial" [(ngModel)]="dataInicial">
<br>
<label for="campoDataFinal">Data Final</label>
<input type="datetime-local" name="campoDataFinal" id="campoDataFinal" [(ngModel)]="dataFinal">
<input type="button" value="Buscar por Periodo" (click)="buscarPorPeriodo()">


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of colunasTabela">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let emprow; columns: colunasTabela"></tr>
  </table>
  